@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  font-family: Arial, Helvetica, sans-serif;
  --cool-gray: rgb(151, 152, 196);
  --marian-blue: rgb(69, 71, 123);
  --vista-blue: rgb(135, 165, 222);
  --champagne-pink: rgb(240, 222, 225);
  --lavender-blush: rgb(234, 220, 209);
  --cambridge-blue: rgb(147, 186, 170);
  --raisin-black: rgb(22, 22, 39);
  background-color: var(--marian-blue);
  overflow: hidden;
}


#login-modal, .signup-modal { 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--cambridge-blue);
  box-shadow: 0 4px 10px 4px var(--champagne-pink);
}

#login-modal h1{
  margin-top: 0;
  font-size: 2rem;
  font-weight: bold;
}

#login-modal input {
  width: 98%;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.3rem;
}

#login-modal a {
  position: absolute;
  right: 1rem;
  font-size: 0.8rem;
  text-decoration: none;
  color: var(--champagne-pink);
}

#login-modal a:hover {
  color: rgba(0,0,0,0.2);
  text-decoration: underline;
}

#login-modal button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  margin: 1rem 0 0.5rem 0;
}

#already {
  font-size: 0.8rem;
  margin-bottom: 0;
  
}

.signup-modal h1 {
  margin-top: 0;
  text-align: center;
  font-size:2rem;
  font-weight: bold;
}

.signup-modal input {
  margin: 0.4rem 0.1rem 0 0.1rem;
  padding: 0.5rem
}

.signup-modal label {
  font-size: 0.8rem;
}

#password-visible {
  margin: 0.5rem 0.2rem 0 1rem;
transform: translate(0,0.15rem);
}

.signup-modal button {
  width:100% ;
  margin-top: 1rem;
}


.header {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  height: 8rem;
  width: 100%;
  background-color: var(--marian-blue);
  /* box-shadow: 1rem 0 1rem 1rem var(--champagne-pink); */
}

.header h1 {
  -webkit-text-fill-color: var(--cambridge-blue);
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.header img {
  width: 3rem;
}

.login-signup-links {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0;
}

.header-links {
  display: flex;
  justify-content: center;
}

.header a {
  -webkit-text-fill-color: var(--cambridge-blue);
  text-align: center;
  margin: 0.5rem 0.5rem 0 0.5rem;
  text-decoration: none;
}

#profile-pic {
  position: absolute;
  right: 0;
  top: 0;
  margin: 3rem;
  border-radius: 50%;
}

#profile-pic:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}

#sidebar-open-btn {
  position: absolute;
  top: 0.5rem;
  left: 1rem;
  z-index: 3;
  border: none;
  margin-top: 2.5rem;
  background-color: transparent;
}

#sidebar {
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 18rem;
  background-color: var(--vista-blue);
  box-shadow: 1rem 0 1rem 0 rgba(0,0,0,0.2);
}

#sidebar-close-btn {
  z-index: 3;
  border: none;
  margin-top: 2.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#sidebar-close-btn img{
  width: 3rem;
}

#sidebar-close-btn, #sidebar-open-btn:hover {
  cursor: pointer;
}

#sidebar-close-btn.active {
  position: absolute;
  background-color: var(--vista-blue);
  left: 17.5rem;
}

#sidebar h2 {
  -webkit-text-fill-color: var(--lavender-blush);
  text-align: center;
  font-size: 1.5rem;
}

.searchbar {
  position: relative;
  margin: 0.5rem;
  display: flex;
  height: 2rem;
}

.searchbar input {
  width: 100%;
}

#search-pic {
  width: 1rem;
}

#sidebar-trending {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}

#sidebar-trending h3 {
  margin: 1.5rem 0 1rem 1.5rem;
  font-size: 1.2rem;
  -webkit-text-fill-color: var(--lavender-blush);
}

#trend-list {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0.5rem;
  list-style-type: none;
  font-size: 0.9rem;
  border-top: solid 1px rgba(0,0,0,0.2);
  text-align: right;
}

#trend-pic {
  position: relative;
  top: 50%;
  left: 0.5rem;
  transform: translate(0,-50%);
  width: 1.5rem;
}

#list-text {
  margin: 0;
  padding-left: 0.2rem;
  
}

#profile-page {
  z-index: 1;
  position: absolute;
  top: 8rem;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cool-gray);
}

#profile-modal {
  position: absolute;
  border: none;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 8px 6px rgba(240, 222, 225, 0.6);
  background-color: var(--cambridge-blue);
}

#profile-page-img {
  width: 4rem;
}

#profile-page input {
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

#profile-page label {
  font-size: 0.8rem;
}

#edit-btn {
  border-radius: 5px;
  z-index: 2;
  float: right;
  border: none;
  background-color: transparent;
}

#edit-btn:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}

#edit-icon {
  width: 1.5rem;
}

#profile-detail-input {
  border:none;
  border-radius: 5px;
}

#profile-detail-input.unmodifiable {
    background-color: rgba(0,0,0,0.2);
    -webkit-text-fill-color: var(--lavender-blush);
}

#profile-detail-input.unmodifiable:hover {
  cursor: not-allowed;
}

#profile-detail-input.modifiable {
  background-color: field;
}

#show-password-checkbox {
  transform: translate(0,2px);
}

.profile-btn {
  font-size: 1rem;
  border:none;
  border-radius: 3px;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
}

.profile-btn:hover {
  background-color: rgba(0,0,0,0.2);
  cursor: pointer;
}

#profile-done-button {
  float: right;
}

#for-you-page {
  position: absolute;
  top: 8rem;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: var(--cool-gray);
}

#for-you-modal {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

#for-you-modal li {
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--marian-blue);
  box-shadow: 0 0 8px 4px var(--champagne-pink);
  -webkit-text-fill-color: var(--cambridge-blue);
}

#for-you-modal h4 {
  font-size: 1rem;
  font-weight: 777;
}

#content-profile-pic {
  width: 2rem;
  float: left;
  margin-top: 1rem;
  margin-right: 1rem;
}

#heart-btn img {
  width: 1rem;
}

#heart-btn {
  background-color: transparent;
  border: none;
}

#heart-btn:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}

#create-post-img {
  width: 2rem
}

#create-post-btn {
  z-index: 3;
  position: absolute;
  right: 3rem;
  bottom: 3rem;
  border-radius: 10px;
  border: none;
  background-color: transparent;
}

#create-post-page {
  z-index: 3;
  position: absolute;
  top: 8rem;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--cool-gray);
}

#create-post-modal {
  position: absolute;
  top:6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--cambridge-blue);
  box-shadow: 0 4px 10px 4px var(--champagne-pink);
}

#create-post-modal input {
  padding: 0.5rem 1rem 3rem 0.5rem;
  margin: 0.5rem;
}

.top-fuller {
  top:144%;
}

.top-fullish {
  top:105%;
}